.spazipoFooter{
    height: 30vh;
}

.stile-logo{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

.color-g{
    color:rgb(177, 76, 4);
}

.color-r{
    color:rgb(177, 76, 4);
}

.color-nav{
    background-color: rgba(210, 105, 30, 0.52);
}

.color-btn{
    background-color: rgb(228, 142, 80);
}

.color-btn:hover{
    background-color: rgb(209, 209, 209);
}

.masthead {
    height: 50vh;
    min-height: 500px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.176), rgba(255, 255, 255, 0.053)), url('/public/img/sfondo-cucina.jpg');
    background-size: cover;
    background-position: center;
}

.color-footer{
    background-color: rgba(210, 105, 30, 0.52);
}

body{
    background-color: rgba(210, 105, 30, 0.464);
}

.stile-form{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

.stile-descrizione{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    color:rgb(156, 65, 0);
}

.contenitore{
    background-image: linear-gradient(rgba(255, 255, 255, 0.567), rgba(255, 255, 255, 0.037));
    height: 35rem;
}

.contenitore-gif{
    background-image: linear-gradient(rgba(255, 255, 255, 0.51), rgba(255, 255, 255, 0.053)), url('/public/img/404.gif');
    height: 90vh;
    background-size: cover;
    background-position: center;
}


@media only screen and (max-width: 768px) {
    .contenitore{
        height: 49rem;
    }

    .posizione-categoria{
        margin-top: 30px;
    }
}